[submodule "src/thirdParty/precice"]
	path = src/thirdParty/precice
	url = https://github.com/precice/precice.git
	branch = develop
[submodule "src/thirdParty/deal-fsi"]
	path = src/thirdParty/deal-fsi
	url = https://github.com/davidsblom/deal-fsi.git
[submodule "src/thirdParty/elemental"]
	path = src/thirdParty/elemental
	url = git://github.com/elemental/Elemental.git
[submodule "src/thirdParty/mxx"]
	path = src/thirdParty/mxx
	url = https://github.com/patflick/mxx.git
