# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dep

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OpenFOAM
lnInclude
linux64GccDPOpt
linux64GccLDPOpt
darwinIntel64GccDPOpt
linux64GccLDPOpt

# Specific files
*.log
formatCode
uncrustify.cfg
runTests.sh
src/thirdParty/boost*
src/thirdParty/gtest*
src/thirdParty/yaml-cpp*
src/thirdParty/scons*
src/thirdParty/dealii*
src/thirdParty/petsc*
src/thirdParty/metis*
src/thirdParty/parmetis*
src/thirdParty/ateles*
src/thirdParty/seeder*

# Case files
boundary
cellZones
faceZones
faces
sets
neighbour
owner
pointZones
points
*.pyc
PlyParser_FoamFileParser_parsetab.py
*.foam
log.*
processor*
*.pdf
forces
*.vtu
*.pvtu
*.pvd
data
*.txt
timing.res
tutorials/acoustics/gaussPulse/fluid/0
