# Example series configuration to be used after running the
# default ateles.lua.
# Run in the ateles directory like:
# ateles$ treelm/peons/harvest_series.py -c series_example/series.config

files: restart/ateles_header*.lua
lua: lua
harvester: atl_harvesting
template: harvester.template
out: harvester/ 
