# Example series configuration to be used after running the
# default ateles.lua.
# Run in the ateles directory like:
# ateles$ treelm/peons/harvest_series.py -c series_example/series.config

files: restart/ateles_header*.lua
lua: lua
harvester: /home/davidblom/repositories/openfoam/davidblom-3.1-ext/src/thirdParty/harvester/build/atl_harvesting
template: harvester.template
out: harvester/
run: mpirun -np 4
